.App {
  text-align: center;
}

.error {
  color: #f00;
  font-style: italic;
  font-weight: bold;
  font-size: 0.875rem;
}

.search-bar {
  padding: 0.375rem;
  background: rgba(255,255,255,0.4);

  input, button {
    height: 30px;
    padding: 0.25rem 0.5rem;
    background: #fff;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
  }

  input {
    margin-right: 0.875rem;
  }

  button {
    $btn_color: rgb(61, 33, 0);
    color: $btn_color;
    background: rgba(255, 184, 54, 0.6);
    border-color: $btn_color;
    transition: all 0.25s linear;
    cursor: pointer;

    &:hover {
      background: rgba(255, 184, 54, 1);
      color: #fff;
      font-weight: bold;
      border-color: #fff;
    }
  }
}

.five-day-forecast {
  width: calc(100vw - 2.5rem);
  margin: 0 auto;
  padding: 2.5rem 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  li {
    width: 200px;
    margin: 0.5rem;
    padding: 1.25rem;
    background: rgba(255, 255, 255,0.5);
    text-align: center;
    list-style-type: none;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 1.25rem;

    h2 {
      margin-top: 0;
    }

    &:first-child {
      background: rgb(255, 249, 237);
      border: 1px solid rgb(255, 208, 0);
    }

    table {
      margin: 0 auto;
      border-collapse: collapse;

      thead {
        font-size: 0.875rem;
      }

      tbody {
        font-weight: bold;
      }

      tr {
        padding: 0.25rem;
      }

      td {
        padding: 0.25rem;

        &:nth-child(1) {
          background: rgb(218, 235, 255);
        }

        &:nth-child(2) {
          background: rgb(255, 229, 218);
        }
      }
    }
  }
}